<footer style="background-color:  #1a2c51">

    <div class="container">
        <div class="footer-logo">
            
        </div>
        <nav class="footer-nav">
            <div class="footer-col">
                <h5 class="title">DoConnect</h5>
                <h4 class="title">Created By Max Bahrami</h4>
                
            </div>
            <div class="footer-col">
               
            </div>

            <div class="footer-col">
               
            </div>

            

        </nav>
        <div class="footer-copyright">
          
        </div>
    </div>
</footer>
