<div class="container">
  <div class="container2">
    <div class="flex-allitem d-flex flex-row justify-content-md-center">
      <img
        src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8"
        class="img1 t128 mt128"
        alt=""
      />

      <div class="flex-item">
        <div class="flex-box1">
          <h4>
            Find the best answer to your coding question!
          </h4>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <button class="btn1 btn btn-primary" type="submit">
              Sgn-in
            </button>
          </a>
        </div>
      </div>
      <div class="flex-item">
        <div class="flex-box2">
          <h4>Log in  as an Admin</h4>
          <a
            routerLink="/admin-register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <button class="btn2 btn btn-primary" type="submit">
              Sign-in
            </button>
          </a>
        </div>
      </div>
      <img
        src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8"
        class="img2 tn128 mt128"
        alt=""
      />
    </div>
   
    

    <span class="d-block bg-white mx-auto"><hr /></span>
   

    <div class="flex--button d-flex justify-content-center">
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
     
      </a>
    </div>
  </div>
</div>
